.dashboard {

  .task-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .task-block {
      width: 28%;
    }

    .loot-block {
      width: 10%;
    }

    .task-title {
      margin-bottom: $space-small;
    }

    .task-item {
      width: 100%;
      margin-bottom: $space-xsmall * 2;
    }

    @media (max-width: $breakpoint-md) {
      .task-block,
      .loot-block {
        width: 49%;
      }
    }

    @media (max-width: $breakpoint-xs) {
      flex-flow: column wrap;

      .task-block {
        width: 100%;
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    align-items: stretch;
    flex-flow: column wrap;

    .task-block {
      width: 100%;
    }
  }
}

.habit,
.promise,
.wish {
  font-size: 16px;

  .title,
  .description,
  .credits,
  .image-link {
    border: none;
  }

  .title {
    font-size: 20px;
    font-weight: 500;
  }

  .description {
    width: 100%;
    margin: $space-xsmall * 2 0;
    color: $text-color-secondary;
  }

  .date {
    margin-top: $space-small * 2;
    font-size: 14px;
    color: lighten($black, 30%);
  }

  .btn-secondary {
    font-size: 14px;
    color: lighten($black, 30%);
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: $black;
    }
  }

  .form-btns {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: $space-small;

    .form-submit {
      margin-top: 0;
    }
  }

  .description-placeholder {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $text-color;
    }
  }

  .description-editor {
    textarea {
      margin: $space-xsmall * 2 0 $space-xsmall 0;
    }
  }
}

