.dashboard {
  margin-top: 40px;

  .promise-form {
    display: none;
  }

  .promise-item {
    padding: $space-xsmall;
  }

  .promise-ongoing {
    .promise-item {
      .title,
      .description,
      .checkbox-wrapper {
        margin-bottom: $space-xsmall;
      }

      .title {
        border: none;
        font-size: 20px;
        font-weight: 600;
      }

      .description {
        width: 100%;
        border: none;
        resize: none;
      }

      .checkbox {
        appearance: none;

        &:before {
          display: inline-block;
          margin: 4px;
          font-family: FontAwesome;
          font-size: 24px;
          content: "\f058"
        }
      }
    }
  }
}


