.container {
  max-width: 1020px;
  margin: auto;
  padding: 0 $space-xsmall;
}

.page-wrapper {
  margin-top: 40px;
}

.form {
  .form-group {
    margin: $space-small 0;

    label,
    input,
    textarea {
      display: block;
      width: 100%;
      font-size: 16px;
    }

    input,
    textarea {
      border: 1px solid $border-color;
      padding: 6px $space-xsmall;
    }

    textarea {
      height: 100px;
    }

    label {
      margin-bottom: $space-xsmall;
      font-size: 14px;
    }

    &.checkbox-group {
      label,
      input {
        display: inline-block;
        width: auto;
        vertical-align: top;
      }

      .label {
        margin-bottom: 0;
        cursor: pointer;
      }

      .checkbox {
        margin-right: 6px;
      }
    }
  }

  .form-label {
    .label-item {
      @include button(darken($dark-gray, 10%));
      margin-right: 4px;

      &.active {
        background-color: $green;
      }
    }
  }

  .form-submit {
    @include button($green);
    display: block;
    margin-top: $space-small * 2;
    font-size: 18px;
  }

  .form-error {
    color: $red;

    .error-item {
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.action-btns {
  margin: $space-small 0 $space-small * 2 0;

  .btn {
    @include button($dark-gray);
    margin-right: 10px;
    font-size: 20px;

    &.active {
      @include button($green);
    }

    &:last-child {
      margin-right: 0;
    }

    i {
      margin-right: 3px;
    }
  }

  .create-btn {
    i {
      margin: 0;
    }
  }
}

.habit-item,
.promise-item,
.wish-item {
  cursor: pointer;

  &:hover {
    .o-card {
      background-color: darken(white, 5%);
      transition: all .3s;
    }
  }
}

.action-confirmation {
  text-align: center;

  .confirmation-msg {
    margin: $space-small * 2 0 $space-small * 2 0;
    line-height: 40px;
    font-size: 20px;

    .confirmation-input {
      width: 80%;
      font-size: 16px;
      border: 1px solid $border-color;
      padding: 6px $space-xsmall;
    }
  }

  .confirmation-btn,
  .cancel-btn {
    @include button($green);
    margin-bottom: $space-small * 2;
    font-size: 20px;

    i {
      margin-left: 4px;
    }
  }

  .cancel-btn {
    margin-left: 10px;
  }
}
