.loot-block {
  .loot-item {
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;

    .loot-icon-wrapper {
      position: relative;

      .loot-icon {
        width: 70%;
      }

      .loot-count {
        position: absolute;
        right: 5px;
        bottom: -5px;
        width: 20px;
        border-radius: 50%;
        background-color: $text-color-secondary;
        color: #FFF;
        font-size: 10px;
        line-height: 20px;
      }
    }
  }
}

.loot-item {
  .loot-icon {
    padding: $space-xsmall;
    border-radius: 3px;
    color: #FFF;
    font-size: 40px;
    transition: all .3s;
  }

  &.legendary {
    .loot-icon {
      background-color: $orange;
    }
  }

  &.epic {
    .loot-icon {
      background-color: $purple;
    }
  }

  &.rare {
    .loot-icon {
      background-color: $blue;
    }
  }

  &:hover {
    &.legendary .loot-icon {
      background-color: darken($orange, 10%);
    }

    &.epic .loot-icon {
      background-color: darken($purple, 10%);
    }

    &.rare .loot-icon {
      background-color: darken($blue, 10%);
    }
  }

  .loot-name {
    margin-top: $space-xsmall;
  }
}

.loot-drop {
  .loot-icon {
    width: 60px;
  }

  .loot-name {
    margin-bottom: $space-xsmall * 2;
    font-weight: bold;
    font-size: 16px;
  }
}
