.promise-page {
  margin-top: 40px;

  .promise-create-form {
    .form-reward {

      .label-item {
        width: 60px;

        i {
          display: block;
          margin-bottom: 4px;
          font-size: 20px;
        }
      }
    }
  }

  .promise-list {
    .promise-item {
      position: relative;
      height: 100%;
      cursor: pointer;

      &:hover {
        background-color: darken(white, 5%);
        transition: all .3s;
      }

      .reward-points {
        height: 100px;
        width: 100px;
        margin-bottom: $space-small * 2;
        border-radius: 3px;
        background-color: $dark-gray;
        text-align: center;

        .reward-content {
          line-height: 100px;
          color: #FFF;
          font-size: 24px;

          i {
            margin-right: 2px;
          }
        }
      }

      .progress-bar {
        position: relative;
        height: 10px;
        background-color: $gray;
        border-radius: 2px;

        .progress-bar-current {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          background-color: $green;
          border-radius: 2px;
        }
      }

      .stamp-completed {
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        opacity: .3;
        color: $green;
        font-size: 200px;
        text-align: center;
      }
    }
  }

  .promise {
    font-size: 16px;

    .title {
      border: none;
      font-size: 20px;
      font-weight: 500;
    }

    .description {
      min-height: 40px;
      width: 100%;
      margin-top: $space-xsmall;
      border: none;
      resize: none;
    }

    .checkbox-wrapper {
      margin-bottom: $space-xsmall;

      .checkbox {
        width: 36px;
        appearance: none;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:before {
          display: inline-block;
          font-family: FontAwesome;
          font-size: 30px;
          content: "\f096";
          font-weight: 200;
          color: darken($dark-gray, 10%);
        }

        &:checked:before {
          font-family: FontAwesome;
          content: "\f046";
          color: $green;
        }

        &.last {
          margin-right: -4px;
        }
      }

      .checkbox-static {
        width: 36px;
        cursor: pointer;
        color: $green;
        font-size: 30px;
      }

      &.checklist {
        margin-bottom: 2px;

        .checkbox,
        .checkbox-static {
          width: 20px;
          margin-right: 6px;

          &:before {
            vertical-align: middle;
            font-size: 24px;
          }
        }

        .checkbox-static {
          vertical-align: middle;
          font-size: 24px;
        }

        .label-static {
          vertical-align: middle;
        }
      }

      &.checklist-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .delete-btn {
          display: none;
          font-size: 20px;
          color: $dark-gray;
          cursor: pointer;
        }

        &:hover .delete-btn {
          display: block;
        }
      }
    }

    .btn-secondary {
      font-size: 14px;
      color: lighten($black, 30%);
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: $black;
      }

      &.checklist-edit-btn {
        margin-top: $space-small;
      }
    }

    .task-form {
      .edit-btn {
        margin-bottom: $space-xsmall;
      }
    }

    .date {
      margin-top: $space-small * 2;
      font-size: 14px;
      color: lighten($black, 30%);
    }

    .form-btns {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: $space-small;

      .form-submit {
        margin-top: 0;
      }

      .delete-btn {

      }
    }
  }

  .promise-success {
    text-align: center;

    .success-msg {
      margin: $space-small * 2 0;
      font-size: 20px;
    }

    .success-icon {
      margin-bottom: $space-small * 2;
      font-size: 30px;
    }

    .success-btn {
      @include button($green);
      margin-bottom: $space-small * 2;
      font-size: 20px;
    }
  }
}


