.dashboard {
  margin-top: 40px;

  .promise-create-form {
    .form-reward {

      .label-item {
        width: 60px;

        i {
          display: block;
          margin-bottom: 4px;
          font-size: 20px;
        }
      }
    }
  }

  .promise-action-btns {
    margin: $space-small 0 $space-small * 2 0;

    .btn {
      @include button($dark-gray);
      margin-right: 10px;
      font-size: 20px;

      &.active {
        @include button($green);
      }

      &:last-child {
        margin-right: 0;
      }

      i {
        margin-right: 3px;
      }
    }

    .create-promise {
      i {
        margin: 0;
      }
    }
  }

  .promise-list {
    .promise-item {
      position: relative;
      height: 100%;
      padding: $space-xsmall;
      cursor: pointer;

      &:hover {
        background-color: darken(white, 5%);
        transition: all .3s;
      }

      .title,
      .description {
        margin-bottom: $space-xsmall;
      }

      .title {
        font-size: 20px;
        font-weight: 500;
      }

      .description {
        min-height: 40px;
      }

      .progress-bar {
        position: relative;
        height: 10px;
        background-color: $gray;
        border-radius: 2px;

        .progress-bar-current {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          background-color: $green;
          border-radius: 2px;
        }
      }

      .stamp-completed {
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        opacity: .3;
        color: $green;
        font-size: 70px;
        text-align: center;
      }
    }
  }

  .promise {
    font-size: 16px;

    .title {
      border: none;
      font-size: 20px;
      font-weight: 500;
    }

    .description {
      min-height: 40px;
      width: 100%;
      margin-top: $space-xsmall;
      border: none;
      resize: none;
    }

    .checkbox-wrapper {
      margin-bottom: $space-xsmall;

      .checkbox {
        width: 36px;
        appearance: none;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:before {
          display: inline-block;
          font-family: FontAwesome;
          font-size: 30px;
          content: "\f096";
          font-weight: 200;
          color: darken($dark-gray, 10%);
        }

        &:checked:before {
          font-family: FontAwesome;
          content: "\f046";
          color: $green;
        }

        &.last {
          margin-right: -4px;
        }
      }

      &.checklist {
        margin-bottom: 2px;

        .checkbox {
          width: 20px;
          margin-right: 6px;

          &:before {
            vertical-align: middle;
            font-size: 24px;
          }
        }
      }

      .checkbox-static {
        width: 36px;
        cursor: pointer;
        color: $green;
        font-size: 30px;
      }
    }

    .btn-secondary {
      font-size: 14px;
      color: lighten($black, 30%);
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        color: $black;
      }

      &.checklist-edit-btn {
        margin-top: $space-small;
      }
    }

    .task-form {
      .edit-btn {
        margin-bottom: $space-xsmall;
      }
    }

    .date {
      margin-top: $space-small * 2;
      font-size: 14px;
      color: lighten($black, 30%);
    }

    .form-btns {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: $space-small;

      .form-submit {
        margin-top: 0;
      }

      .delete-btn {

      }
    }
  }
}


