.top-nav {
  background-color: $green;

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    color: #FFF;

    .menu-item {
      display: inline-block;
      margin-left: 10px;
      font-size: 18px;
      vertical-align: top;

      &:first-child {
        margin-left: 0;
      }

      &.active {

        .menu-link {
          padding: 8px;
          border-radius: 3px;
          background-color: darken($green, 5%);
        }
      }
    }

    .menu-link {
      color: #FFF;
      text-decoration: none;
    }

    .nav-menu-left {
      .brand {
        margin-right: 10px;

        .logo {
          font-size: 40px;
          vertical-align: middle;
        }

        .text {
          margin-left: 4px;
          font-size: 24px;
        }
      }
    }

    .nav-menu-right {
    }
  }
}