.top-nav {
  background-color: $green;

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 70px;
    line-height: 70px;
    color: #FFF;

    .menu-item {
      display: inline-block;
      height: 70px;
      margin-left: 10px;
      font-size: 18px;
      vertical-align: top;
      overflow: hidden;

      &:first-child {
        margin-left: 0;
      }

      &.active {

        .menu-link {
          padding: 8px;
          border-radius: 3px;
          background-color: darken($green, 5%);
        }
      }
    }

    .menu-link {
      color: #FFF;
      text-decoration: none;
    }

    .menu-user {
      .avatar {
        width: 40px;
        border: 3px solid #FFF;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 4px;
      }

      .name {
        font-size: 16px;
      }
    }

    .nav-menu-left {
      .brand {
        margin-right: 10px;

        .logo {
          font-size: 40px;
          vertical-align: middle;
        }

        .text {
          margin-left: 4px;
          font-size: 24px;
        }
      }
    }

    .nav-menu-right {
    }
  }
}
