.wishes-page {

  .user,
  .share {
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
  }

  .wish-list-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .wish-list-self,
    .wish-list-shared {
      margin-bottom: 20px;
    }

    .wish-list-self {
      width: 77%;
    }

    .wish-list-shared {
      width: 19%;

      .o-list-item {
        padding-bottom: 15px;
      }
    }

    @media (max-width: $breakpoint-md) {
      align-items: stretch;
      flex-flow: column wrap;

      .wish-list-self,
      .wish-list-shared {
        width: 100%;
      }
    }
  }

  .wish-list {

    .title {
      margin: $space-small 0;
      font-size: 16px;
    }

    .wish-img {
      position: relative;

      .user-list {
        position: absolute;
        right: 4px;
        bottom: 4px;

        .user {
          margin-left: 4px;
          border: 2px solid #fff;
        }
      }
    }

    .wish-purchase-btn,
    .wish-contribute-btn {
      width: 100%;
      font-size: 18px;

      i {
        margin-right: 4px;
      }
    }

    .wish-purchase-btn {
      @include button($dark-gray);

      &.active {
        @include button($green);
      }
    }

    .wish-contribute-btn {
      @include button($dark-gray);
      position: relative;
      height: 36px;
      padding: 0;

      &:hover {
        .background {
          background-color: darken($green, 10%);
        }

      }

      .background {
        @include button($green);
        display: block;
        height: 100%;
        width: 0;
        padding: 0;
        border-radius: 3px 0 0 3px;
      }

      .content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 8px 12px;
        background-color: transparent;
      }

    }
  }

  .wish {
    .wish-share {
      .toggle-btn {
        @include button($green);
      }
    }

    .wish-users {

      .user {
        margin-right: 6px;
      }

      .share {
        @include button($dark-gray);
        margin-left: -2px;
        padding: 6px;
        border-radius: 50%;
      }
    }
  }

  .wish-contribution {
    .contributor-list {
      margin-top: $space-xsmall * 2;

      .contributor-wrapper {
        display: inline-block;
        padding: 0 20px;

        .contributor {
          margin-bottom: $space-small;

          .name {
            margin-top: 4px;
          }
        }

        .credits {
          .credits-item {
            margin-right: 6px;
            padding: 4px 8px;
            background-color: $green;
            color: $white;
            border-radius: 6px;
            vertical-align: middle;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        i {
          margin-right: 4px;
        }
      }
    }
  }
}
