.wish-tickets-page {

  .wish-ticket-list {

    .wish-ticket-item {

      .title {
        margin: $space-small 0 0 0;
        font-size: 16px;
      }

      .claimed-date {
        margin-top: $space-small;
        min-height: unset;
      }
    }
  }
}
