.wishes-page {

  .wish-list {

    .title {
      margin: $space-small 0;
      font-size: 16px;
    }

    .wish-purchase-btn {
      @include button($dark-gray);
      width: 100%;
      font-size: 18px;

      &.active {
        @include button($green);
      }

      i {
        margin-right: 4px;
      }
    }
  }
}