.wishes-page {

  .user,
  .share {
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
  }

  .wish-list {

    .title {
      margin: $space-small 0;
      font-size: 16px;
    }

    .wish-img {
      position: relative;

      .user-list {
        position: absolute;
        right: 4px;
        bottom: 4px;

        .user {
          margin-left: 4px;
          border: 2px solid #fff;
        }
      }
    }

    .wish-purchase-btn,
    .wish-contribute-btn {
      width: 100%;
      font-size: 18px;

      i {
        margin-right: 4px;
      }
    }

    .wish-purchase-btn {
      @include button($dark-gray);

      &.active {
        @include button($green);
      }
    }

    .wish-contribute-btn {
      @include button($green);

      .text {
        display: none;
      }

      &.hover {
        .credits {
          display: none;
        }

        .text {
          display: inline;
        }
      }
    }
  }

  .wish {
    .wish-share {
      .toggle-btn {
        @include button($green);
      }
    }

    .wish-users {

      .user {
        margin-right: 6px;
      }

      .share {
        @include button($dark-gray);
        margin-left: -2px;
        padding: 6px;
        border-radius: 50%;
      }
    }
  }
}
