// Colors
// ------
// For project colors.
// ======

$blue: #33aaff;
$red: #ff0000;
$white: #FFF;
$black: #333;
$gold: #ffe400;
$silver: silver;
$bronze: #cd7f32;
$light-gray: #fafafa;
$dark-gray: #666;

$border-color: #e0e0e0;
