// Colors
// ------
// For project colors.
// ======

$blue: #1c90f3;
$red: #ea8b7b;
$green: #42b983;
$orange: #ffa520;
$light-gray: #f8f8f8;
$gray: darken($light-gray, 5%);
$dark-gray: darken($light-gray, 20%);
$white: #FFF;
$black: #333;

$border-color: #e0e0e0;

$text-color: $black;
$text-color-secondary: lighten($black, 15%);
