// MIXINS
// ------
// General mixins for projects
// ======


@mixin button($color) {
  display: inline-block;
  border: none;
  border-radius: $border-radius-base;
  padding: 8px 12px;
  background-color: $color;
  transition: background-color .3s;
  cursor: pointer;
  font-family: $font-family-text;
  text-align: center;
  color: $white;

  &:hover {
    background-color: darken($color, 10%);
    color: $white;

    &,
    a {
      text-decoration: none;
    }
  }

  &:focus {
    outline: none;
  }
}

@mixin placeholder ($color) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}

@mixin disable-margin-collapsing {
  &:before, &:after {
    content: ' ';
    display: table;
  }
}

@mixin img-cover ($height) {
  display: block;
  height: $height;
  width: 100%;
  object-fit: cover;
}
